<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Add a personal plant!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <!--/*@thymesVar id="plant" type="group11.leafalone.Plant.UserPlant"*/-->
    <form action="#" th:action="@{/plants/add}" th:object="${plant}" id="addPlantForm" method="post">
    <div class="form-group">
        <label th:for="name">Plant-Name:</label>
        <input th:type="text" th:field="*{name}" path="name" class="form-control" id="name">
        <p class="font-weight-bold" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
    </div>

    <div class="form-group">
        <label th:for="plantCare">Type of plant:</label>
        <!-- TODO: should probably be filled by data model-->
        <!--<select class="custom-select" id="plantType" th:field="*{plantCare}" path="plantCare">
            <option th:value="${plantCare}">Dummy One</option>
            <option th:value="${plantCare}">Dummy Two</option>
            <option th:value="${plantCare}">None of those above</option>
        </select> -->

        <select class="custom-select" id="plantType" th:field="*{plantCare}" path="plantCare">
            <option value="Dummy One">Dummy One</option>
            <option value="Dummy Two">Dummy Two</option>
            <option value="Dummy Three">Dummy Three</option>
        </select>

        <p class="font-weight-bold" th:if="${#fields.hasErrors('plantCare')}" th:errors="*{plantCare}">Plant-Typ Error</p>
    </div>

    <div class="form-group">
        <label th:for="sun">Sun-Situation of the plant:</label>
        <select id="sun" th:field="*{sun}" path="sunSituation" id="sunSituation">
            <option th:each="sun : ${sunSituations}" th:value="${sun}" th:text="${sun.name}"></option>
        </select>
    </div>

    <div class="form-group">
        <label th:for="acquisition">Date of acquisition:</label>
        <input th:type="date" path="acquisition" th:field="*{acquisition}" class="form-control" id="acquisition">
    </div>

    <div class="form-group">
        <label th:for="watered">Date of last watering:</label>
        <input th:type="date" path="watered" th:field="*{watered}" class="form-control" id="watered">
    </div>

    <div class="form-group">
        <label th:for="notes">Additional Notes:</label>
        <textarea th:type="text" th:field="*{notes}" path="notes" class="form-control" id="notes"/>
    </div>
        <button class="btn btn-success" id="submitButton" th:type="submit">Submit new plant</button>
</form>
</div>

</body>
</html>