<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Edit your Plant</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <br>
    <!--/*@thymesVar id="plant" type="group11.leafalone.Plant.Plant"*/-->
    <form action="#" th:action="@{/plants/edit/{name}(name=${plant.getName()})}" th:object="${plant}" id="addPlantForm"
          method="post">
        <!-- <div class="form-group">
            <label>Plant-Name:</label>
            <p th:text="${plant.name}" class="font-weight-bold text-success" id="nameText">
        </div> -->

        <div class="form-group">
            <label th:for="name">Plant-Name:</label>
            <input type="hidden" th:field="*{name}" path="name" class="form-control" id="nameInput" th:value="${plant.name}">
            <p th:text="${plant.name}" class="font-weight-bold text-success" id="nameText">
        </div>

        <div class="form-group">
            <label th:for="plantCare">Type of plant:</label>
            <select class="custom-select" th:field="*{plantCare}" path="plantCare" id="plantCare">
                <!--/*@thymesVar id="plantCare" type="group11.leafalone.Plant.PlantCare"*/-->
                <option th:each="plantCare : ${plantCares}" th:value="${plantCare.id}"
                        th:text="${plantCare.colloquial}"></option>
            </select>
            <p class="font-weight-bold errorMessage text-danger" th:if="${#fields.hasErrors('plantCare')}"
               th:errors="*{plantCare}">
                Plant-Type
                Error</p>
        </div>

        <div class="form-group">
            <label th:for="sun">Sun-Situation of the plant:</label>
            <select class="custom-select" th:field="*{sun}" path="sun" id="sun">
                <option th:each="sun : ${sunSituations}" th:value="${sun}" th:text="${sun.getName()}"></option>
            </select>
            <p class="font-weight-bold errorMessage text-danger" th:if="${#fields.hasErrors('sun')}" th:errors="*{sun}">
                Sun-Situation Error</p>
        </div>

        <div class="form-group">
            <label th:for="acquisitionDate">Date of acquisition:</label>
            <input th:type="date" path="acquisitionDate" th:field="*{acquisitionDate}" class="form-control" id="acquisitionDate">
            <p class="font-weight-bold errorMessage text-danger" th:if="${#fields.hasErrors('acquisition')}"
               th:errors="*{acquisition}">Acquisition-Date Error</p>
        </div>

        <div class="form-group">
            <label th:for="wateredDate">Date of last watering:</label>
            <input th:type="date" path="wateredDate" th:field="*{wateredDate}" class="form-control" id="wateredDate">
            <p class="font-weight-bold errorMessage text-danger" th:if="${#fields.hasErrors('watered')}"
               th:errors="*{watered}">
                Last-Watered-Date Error</p>
        </div>

        <div class="form-group">
            <label th:for="notes">Additional Notes:</label>
            <textarea lang="en" spellcheck="true" th:type="text" th:field="*{notes}" path="notes" class="form-control"
                      id="notes"></textarea>
            <p class="font-weight-bold errorMessage text-danger" th:if="${#fields.hasErrors('notes')}"
               th:errors="*{notes}">Notes
                Error</p>
        </div>
        <button class="btn btn-success" id="submitButton" th:type="submit">Submit changes</button>
        <a id="deleteButton" style="float: right" onclick="return confirm('Do you really want to delete the plant?')"
           class="btn btn-outline-danger"
           th:href="@{/plants/delete/{name}(name=${plant.getName()})}">Delete</a>

    </form>
</div>

</body>
</html>