<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Your Plants</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container table-responsive">
    <br>
    <div class="font-weight-bold text-success" th:if="${param.message}">
        <p th:text="${param.message}" scope="col"></p>
    </div>
    <table class="table table-hover table-striped" id="plantList">
        <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Current sun situation</th>
            <th scope="col">Acquisition date</th>
            <th scope="col">Last watering date</th>
            <th scope="col">Additional notes</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="plants" type="java.util.List"*/-->
        <tr th:each="plant : ${plants}">
            <!--/*@thymesVar id="plant" type="group11.leafalone.Plant.Plant"*/-->
            <th scope="row" th:text="${plant.getName()}"></th>
            <td th:text="${plant.getPlantCare().getColloquial()}"></td>
            <td th:text="${plant.getSun().getName()}"></td>
            <td th:text="${plant.getAcquisition().toLocaleString()}"></td>
            <td th:text="${plant.getWatered().toLocaleString()}"></td>
            <td th:text="${plant.getNotes()}"></td>
            <td>
                <a class="btn btn-outline-info" th:href="@{/plants/watered/{name}(name=${plant.getName()})}">Water</a>
            </td>
            <td>
                <a class="btn btn-outline-success" th:href="@{/plants/edit/{name}(name=${plant.getName()})}">Edit</a>
            </td>
            <td>
                <a onclick="return confirm('Do you really want to delete the plant?')" class="btn btn-outline-danger" th:href="@{/plants/delete/{name}(name=${plant.getName()})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>