<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/list.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Your Plants</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container table-responsive">
    <br>
    <div class="font-weight-bold text-success" th:if="${param.message}">
        <p id="deleteMessage" th:text="${param.message}" scope="col"></p>
    </div>
    <table class="table table-hover table-striped" id="plantList">
        <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Next watering date</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="plants" type="java.util.List"*/-->
        <tr th:class="${plant.needsWater}?'table-warning'" th:each="plant : ${plants}">
            <!--/*@thymesVar id="plant" type="group11.leafalone.ViewModel.List_Plant"*/-->
            <div th:if="${plant.isWrongSun()}">
                <u>
                    <th data-toggle="tooltip" title="Wrong Sun-Situation for plant!! See Details" scope="row"
                        class="list3col text-warning"><p><u th:text="${plant.name}"></u></p></th>
                </u>
            </div>
            <div th:unless="${plant.isWrongSun()}">
                <th scope="row" class="list3col" th:text="${plant.name}"></th>
            </div>

            <td class="list3col" th:text="${plant.type}"></td>
            <td class="list3col" th:text="${plant.nextWateringDate}"></td>
            <td class="borderColumn listBtn">
                <a class="btn" th:classappend="${plant.needsWater}?'btn-info':'btn-outline-info'"
                   th:href="@{/plants/watered/{name}(name=${plant.getName()})}">Watered</a>
            </td>
            <td class="listBtn">
                <a class="btn btn-outline-success" th:href="@{/plants/details/{name}(name=${plant.name})}">Details</a>
            </td>
            <td class="listBtn">
                <a id="editButton" style="float: right" class="btn btn-outline-warning"
                   th:href="@{/plants/edit/{name}(name=${plant.getName()})}">Edit</a>
            </td>
        </tr>
        <tr th:if="${plants.size() == 0}">
            <td colspan="6">
                <p style="margin-bottom: 0" class="text-center"><a id="addPlantLink" class="btn btn-outline-success"
                                                                   href="/plants/add">add a plant</a></p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>