<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Your Plants</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <table class="table table-hover" id="plantList">
        <thead>
        <th scope="col">name</th>
        <th scope="col">type</th>
        <th scope="col">sunSituation</th>
        <th scope="col">acquisitionDate</th>
        <th scope="col">wateringDate</th>
        <th scope="col">additionalNotes</th>
        </thead>
        <tbody>
        <!-- dummy Data -->
        <tr>
            <th scope="row">Carlos</th>
            <td>plant</td>
            <td>sunny</td>
            <td>19.05.1998</td>
            <td>23.06.1998</td>
            <td>yes!</td>
        </tr>
        <!-- dummy end -->
        </tbody>
    </table>
</div>
</body>
</html>