<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
    <div class="container">
        <h1>Group Members</h1>
        <p>Corinna Bockhop s0563861</p>
        <p>Jan Urban s0563416</p>
        <p>Marie Bittiehn s0563863</p>
    </div>

    <div class="container">
        <h1>Current Time</h1>
        <p th:text="${clock.date}"></p>
        <p th:text="${clock.time}"></p>
    </div>

    <div class="container">
        <h1>User Personas</h1>
    </div>

</body>
</html>