<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="container" id="groupMembers">
    <h1>Group Members</h1>
    <p>Corinna Bockhop s0563861</p>
    <p>Jan Urban s0563416</p>
    <p>Marie Bittiehn s0563863</p>
</div>
<br/>
<div class="container" id="time">
    <h1>Current Time</h1>
    <!--/*@thymesVar id="clock" type="group11.leafalone.Clock"*/-->
    <p th:text="${clock.date}"></p>
    <p th:text="${clock.time}"></p>
</div>
<br/>
<div class="container" id="projectdescription">
    <h1>User Personas</h1>
    <div class="container"><b>Lena, 21</b><br/>
        <i>occupation:</i> german studies student (→ no income)<br/>
        <i>residency:</i> in Berlin<br/>
        <i>family:</i> lives with single mother
    </div>
    <br/>

    <div class="container"><i>behaviours:</i><br/>
        • walks her dog (Tofu) twice a day<br/>
        • often searches pockets for keys (sometimes she forgets them)<br/>
        • stops & takes pictures of pretty flowers<br/>
        • rescues snails from the street and puts them back onto the grass so no one steps on them<br/>
        • runs after the bus when she‘s late
    </div>
    <br/>

    <div class="container"><i>goals and needs:</i><br/>
        • needs help to stay organized (desperately)<br/>
        • wants to have healthy plants<br/>
        • needs to feel like she‘s doing right by her plants (by not killing them)<br/>
        • goal: to be able to quickly have an overlook over her plants so she knows what kinds she already owns when
        shopping for new plants<br/>
        • needs to feel taken seriously
    </div>
    <br/>

    <div class="container">
        <i>main product goals:</i><br/>
        1. provide schedule to water plants<br/>
        2. organize plants she already owns<br/>
        3. show Lena how well she's doing/motivate Lena to improve
    </div>
    <br/>

    <div class="container"><b>Geralt, 43</b><br/>
        <i>occupation:</i> botanical advisor for a fancy park (→ good income)<br/>
        <i>residency:</i> Connecticut, USA<br/>
        <i>family:</i> wife, 2 kids, dog
    </div>
    <br/>

    <div class="container"><i>behaviours</i><br/>
        • adjusts his glasses often<br/>
        • reads science journals or nonfiction books while taking public transport (and sometimes while walking
        too)<br/>
        • gives unsolicited advice to strangers (only sometimes about plants)<br/>
        • talks to himself<br/>
        • sits on benches & feeds birds
    </div>
    <br/>

    <div class="container"><i>goals & needs</i><br/>
        • needs to share knowledge<br/>
        • wants to help others (ideally with them wanting that help)<br/>
        • needs an outlet aside from work<br/>
        • wants to freshen up his college knowledge<br/>
        • needs recognition
    </div>
    <br/>

    <div class="container"><i>main product goals</i><br/>
        • offer a possibility to share knowledge about plants<br/>
        • make the leafAloneUser feel valued (& prestigious?) for helping others<br/>
        • limit communication between users so that there‘s no unwanted „help“
    </div>
    <br/>
</div>
</body>
</html>