<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Add a personal plant!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">
<form action="#" th:action="@{/addPlant}" th:object="${plant}" method="post">
    <div class="form-group">
        <label th:for="name">Plant-Name:</label>
        <input class="form-control" id="type" th:field="*{name}" th:type="text">
    </div>

    <div class="form-group">
        <label th:for="type">Type of plant:</label>
        <!-- TODO: should probably be filled by data model-->
        <select class="custom-select" th:field="*{type}">
            <option th:value="${type}">Dummy One</option>
            <option th:value="${type}">Dummy Two</option>
            <option th:value="${type}">None of those above</option>
        </select>
    </div>

    <div class="form-group">
        <label th:for="sun">Sun-Situation of the plant:</label>
        <!-- TODO: should probably be filled by data model-->
        <select class="custom-select" th:field="*{sun}">
            <option th:value="${sun}">Sunny</option>
            <option th:value="${sun}">Dark</option>
            <option th:value="${sun}">Shadow</option>
        </select>
    </div>

    <div class="form-group">
        <label th:for="acquisition">Date of acquisition:</label>
        <input th:type="date" th:field="*{acquisition}" class="form-control" id="acquisition">
    </div>

    <div class="form-group">
        <label th:for="watered">Date of last watering:</label>
        <input th:type="date" th:field="*{watered}" class="form-control" id="watered">
    </div>

    <div class="form-group">
        <label th:for="notes">Additional Notes:</label>
        <input th:type="text" th:field="*{notes}" class="form-control" id="notes">
    </div>

    <div class="form-group">
        <label th:for="id">ID of plant:</label>
        <input th:type="text" th:field="*{id}" class="form-control" id="id">
    </div>
    <button class="btn btn-success" th:type="submit">Submit new plant</button>
</form>
</div>

<nav class="navbar navbar-expand-lg fixed-bottom navbar-light" style="background-color: #64cc35">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            <li class="nav-item active"><a class="nav-link" href="#">Add a new plant<span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/contributePlant">Contribute a plant</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>

</body>
</html>