<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="formStyle.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Contribute your plant knowledge!</title>
</head>
<body>
<div class="container">
<form action="#" th:action="@{/contributePlant}" th:object="${plantdescription}" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="type">Colloquial plant name:</label>
        <input type="text" th:field="*{type}" class="form-control inputField" id="type">
    </div>
    <div class="form-group">
        <label for="scientific">Scientific plant name:</label>
        <input type="text" th:field="*{scientific}" class="form-control inputField" id="scientific">
    </div>
    <div class="form-group">
        <label for="plantpicture">Upload a picture of the species!</label>
        <input type="file" th:field="*{plantPicture}" class="form-control" id="plantpicture">
    </div>
    <div class="form-group">
        <label for="sunSituation">How much sun does the plant prefer?</label>
        <select th:field="*{sunSituation}" id="sunSituation">
            <option value="sunny">sunny</option>
            <option value="dark">dark</option>
            <option value="shadow">shadow</option>
        </select>
    </div>
    <div class="form-group">
        <label for="waterCycle">How often does the plant need water? (days)</label>
        <input type="number" th:field="*{waterCycle}" class="form-control inputField" id="waterCycle">
    </div>
    <div class="form-group">
        <label for="waterAmount">How much water does the plant need with each watering?</label>
        <input type="number" th:field="*{waterAmount}" class="form-control" id="waterAmount">
    </div>
    <div class="form-group">
        <label for="soilAdvice">What kind of soil is ideal for this plant?</label>
        <br />
        <textarea th:field="*{soilAdvice}" id="soilAdvice"></textarea>
    </div>
    <div class="form-group">
        <label for="description">general description, additional information</label>
        <br />
        <textarea th:field="*{description}" id="description"></textarea>
    </div>
    <button class="btn btn-success" th:type="submit">Submit for review</button>
</form>
</div>

<nav class="navbar navbar-expand-lg fixed-bottom navbar-light" style="background-color: #64cc35">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/addPlant">Add a new plant</a></li>
            <li class="nav-item active"><a class="nav-link" href="#">Contribute a plant<span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>
</body>
</html>