<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <div class="jumbotron" id="welcomeText">
        <h1>Hello</h1>
        <p>Welcome to LeafAlone</p>
    </div>
</div>
<div class="container">
    <br>
    <div class="font-weight-bold" th:if="${param.autoLoginFailed}">
        <p id="autoLoginFailedText">Auto-Login failed, but either way:</p>
    </div>
    <div class="font-weight-bold" th:if="${param.newUser}">
        <p id="newUserText">Welcome new User!</p>
    </div>
</div>
</body>
</html>